.logo__container{
    display: flex;
    justify-content: space-between;
    margin-left: 55px;
}

.logo__container img{
    width: 15rem;
}



@media screen and (max-width: 1137px){
    .logo__container{
        margin:15px ;
    }
}

@media screen and (max-width: 588px){
    .logo__container img{
        width: 9rem;
    }
}

@media screen and (max-width: 450px){
    .logo__container img{
        width: 8rem;
    }
}


@media screen and (max-width: 350px){
    .logo__container img{
        width: 5rem;
    }
}

